# As stated in our agreement policy and other document,
# Ownership of the codes and belongs to CTO & Chief.
# "By submitting code, documentation, or other materials (“Contributions”),
# the contributor grants Octovel a perpetual, worldwide,
# royalty-free license to use, modify, distribute,
# and sublicense those contributions as part of Octovel projects.
*         @octovel/chief    @octovel/cto-leadership
